#input {
    text-align: center;
}

#input input {
    width: 400px;
    margin: 10px;
}

#input textarea {
    width: 400px;
    margin: 10px;
}

#output {
    text-align: center;
}

.output-box {
    border: 2px solid black;
    width: 400px;
    margin: 10px auto;

}
